<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Flappy Fish</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="index">
    <div class="mainDiv">
     {% for row in board %}
        <div class="rowDiv">
        {% for element in row %}
            <div class="card" onclick="
                this.classList.add('flipped');
                setTimeout(() => this.classList.remove('flipped'), 2000);
            ">
                <div class="front"></div>
                <div class="back">{{ element }}</div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</body>
</html>