<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Flappy Fish</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="index">
    <div class="mainDiv">
        <form id="form">
            <input type="hidden" name="clicked_card" id="clicked_card_input" value="">
            {% for row in board %}
                <div class="rowDiv">
                {% for element in row %}
                    <div class="card {% if element.isopen %} flipped {% endif %}" onclick="
                        this.classList.add('flipped');
                        setTimeout(() => {
                            document.getElementById('clicked_card_input').value = '{{ element.id }}';
                            document.getElementById('form').submit();
                        }, 500)
                    ">
                        <div class="front"></div>
                        <div class="back">{{ element.text }}</div>
                </div>
                {% endfor %}
                </div>
            {% endfor %}
        </form>
    </div>
</body>
</html>